.maincontainer{
    height:70px;
    width:100vw;
    
    display: flex;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); 
}

.icon{
    padding:12px 18px;
    height:47px;
    width:200px;
  
}
.icon-image{
    height:45px;
    cursor:pointer;
}
.navbar-filed{
    width:500px;
    height:70px;
   
    display: flex;
    
   
}
.allbtns{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
   
   
}
.btn{
    margin:10px;
    height:70px;
    padding: 5px;
    font-size: medium;
    font-weight: 300;
    background-color: transparent;
    border: none;
}
.btn:hover{
    cursor: pointer;
    
    font-weight: 510;
    border-bottom: 2px solid blue;
    transition: font-weight 0.3s ease, border-bottom 0.1.3s ease;
}


